
/**
 * Generic elements.
 */
body {
  color: #111111;
  background: #fff;
  font: normal 81.3%/1.538em "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}
a {
  color: #0074BD;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #cccccc;
}
legend {
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 10px 0;
}
h1 {
  font-size: 1.538em;
}
h2 {
  font-size: 1.385em;
}
h3 {
  font-size: 1.231em;
}
h4 {
  font-size: 1.154em;
}
h5,
h6 {
  font-size: 1.077em;
}
p {
  margin: 1em 0;
}
dl {
  margin: 0 0 20px;
}
dl dd,
dl dl {
  margin-left: 20px; /* LTR */
  margin-bottom: 10px;
}
blockquote {
  margin: 1em 40px;
}
address {
  font-style: italic;
}
u,
ins {
  text-decoration: underline;
}
s,
strike,
del {
  text-decoration: line-through;
}
big {
  font-size: larger;
}
small {
  font-size: smaller;
}
sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}
sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}
nobr {
  white-space: nowrap;
}
abbr,
acronym {
  border-bottom: dotted 1px;
}
ul,
.block ul,
.item-list ul {
  list-style-type: disc;
  list-style-image: none;
  margin: 0.25em 0 0.25em 1.5em; /* LTR */
}
.item-list .pager li {
  padding: 0.5em;
}
.item-list ul li,
li.leaf,
ul.menu li {
  list-style-type: disc;
  list-style-image: none;
}
ul.menu li {
  margin: 0;
}
ol {
  list-style-type: decimal;
  margin: 0.25em 0 0.25em 2em; /* LTR */
}
.item-list ul li.collapsed,
ul.menu li.collapsed {
  list-style-image:url(../../misc/menu-collapsed.png);
  list-style-type:disc;
}
.item-list ul li.expanded,
ul.menu li.expanded {
  list-style-image:url(../../misc/menu-expanded.png);
  list-style-type:circle;
}
quote,
code {
  margin: .5em 0;
}
code,
pre,
kbd {
  font-size: 1.231em;
}
pre {
  margin: 0.5em 0;
  white-space: pre-wrap;
}

/**
 * Skip link.
 */
#skip-link {
  margin-top: 0;
  position: absolute;
  left: 50%; /* LTR */
  margin-left: -5.25em; /* LTR */
  width: auto;
  z-index: 50;
}
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  display: block;
  background: #444;
  color: #fff;
  font-size: 0.94em;
  padding: 1px 10px 2px 10px; /* LTR */
  text-decoration: none;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-radius: 0 0 10px 10px;
}
#skip-link a:hover,
#skip-link a:focus,
#skip-link a:active {
  outline: 0;
}

/**
 * Branding.
 */
#branding {
  overflow: hidden;
  padding: 20px 20px 0 20px; /* LTR */
  position: relative;
  background-color: #e0e0d8;
}
#branding div.breadcrumb {
  font-size: 0.846em;
  padding-bottom: 5px;
}
#branding div.block {
  position: relative;
  float: right; /* LTR */
  width: 240px;
  padding-left: 10px; /* LTR */
  background: #333;
}
#branding div.block form label {
  display: none;
}
#branding div.block form div.form-item {
  float: left; /* LTR */
  border: 0;
  margin: 0;
  padding: 0;
}
#branding div.block form input.form-text {
  width: 140px;
  margin-right: 10px; /* LTR */
}
#branding div.block form input.form-submit {
  text-align: center;
  width: 80px;
}

/**
 * Help.
 */
#help {
  font-size: 0.923em;
  margin-top: 1em;
}
#help p {
  margin: 0 0 10px;
}
#help div.more-help-link {
  text-align: right; /* LTR */
}

/**
 * Page title.
 */
#page-title {
  background: #333;
  padding-top: 20px;
}
#branding h1.page-title {
  color: #000;
  margin: 0;
  padding-bottom: 10px;
  font-size: 1.385em;
  font-weight: normal;
  float: left; /* LTR */
}

/**
 * Console.
 */
#console {
  margin: 9px 0 10px;
}

/**
 * Tabs.
 */
ul.primary {
  float: right; /* LTR */
  border-bottom: none;
  text-transform: uppercase;
  font-size: 0.923em;
  height: 2.60em;
  margin: 0;
  padding-top: 0;
}
ul.primary li {
  float: left; /* LTR */
  list-style: none;
  margin: 0 2px;
}
ul.primary li a:link,
ul.primary li a.active,
ul.primary li a:active,
ul.primary li a:visited,
ul.primary li a:hover,
ul.primary li.active a {
  display: block;
  float: left; /* LTR */
  height: 2.60em;
  line-height: 2.60em;
  padding: 0 18px 8px;
  background-color: #a6a7a2;
  color: #000;
  font-weight: bold;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #a6a7a2;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-radius: 8px 8px 0 0;
}
ul.primary li.active a,
ul.primary li.active a.active,
ul.primary li.active a:active,
ul.primary li.active a:visited {
  background-color: #fff;
  border-color: #c9cac4;
}
ul.primary li a:hover {
  color: #fff;
}
ul.primary li.active a:hover {
  color: #000;
}
.tabs-secondary {
  clear: both;
}
ul.secondary {
  float: right; /* LTR */
  font-size: 0.923em;
  padding: 0 3px 5px;
  line-height: 1.385em;
  overflow: hidden;
  background-color: #fff;
}
ul.secondary li {
  margin: 0 5px;
  float: none; /* LTR */
}
ul.secondary li a {
  background-color: #ddd;
  color: #000;
  display: inline-block;
}
ul.secondary li a,
ul.secondary li a:hover,
ul.secondary li.active a,
ul.secondary li.active a.active {
  padding: 2px 10px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
ul.secondary li a:hover,
ul.secondary li.active a,
ul.secondary li.active a.active {
  color: #fff;
  background: #666;
}
#content {
  clear: left;
}

/**
 * Page layout.
 */
#page {
  padding: 20px 0 40px 0; /* LTR */
  margin-right: 40px; /* LTR */
  margin-left: 40px; /* LTR */
  background: #fff;
  position: relative;
  color: #333;
}
#secondary-links ul.links li {
  padding: 0 10px 10px 0; /* LTR */
}
#secondary-links ul.links li a {
  font-size: 0.923em;
  background: #777;
  color: #fff;
  text-align: center;
  padding: 5px;
  height: 55px;
  width: 80px;
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#secondary-links ul.links li a:hover {
  background: #999;
}
ul.links li,
ul.inline li {
  padding-right: 1em; /* LTR */
}
ul.inline li {
  display: inline;
}
#secondary-links ul.links li.active-trail a,
#secondary-links ul.links li a.active {
  background: #333;
}
ul.admin-list li {
  position: relative;
  padding-left: 30px; /* LTR */
  padding-top: 9px;
  border-top: 1px solid #ccc;
  margin-left: 0; /* LTR */
  margin-bottom: 10px;
  background: url(images/list-item.png) no-repeat 0 11px; /* LTR */
  list-style-type: none;
  list-style-image: none;
}
.admin-panel .item-list ul,
ul.admin-list {
  margin: 0;
  padding: 0;
}
.admin-panel .item-list ul,
ul.admin-list.compact {
  margin: 8px 0;
}
.admin-panel .item-list li,
ul.admin-list.compact li {
  border: none;
  background: none;
  margin: 0 0 0.75em;
  line-height: 1;
  padding: 0;
}
ul.admin-list li:last-child {
  border-bottom: none;
}
ul.admin-list li a {
  margin-left: -30px; /* LTR */
  padding: 0 0 4px 30px; /* LTR */
  min-height: 0;
}
ul.admin-list.compact li a {
  margin-left: 0; /* LTR */
  padding: 0;
}
ul.admin-list li div.description a {
  margin-left: 0; /* LTR */
  padding: 0;
  min-height: inherit;
}
div.submitted {
  color: #898989;
}

/**
 * Tables.
 */
table {
  width: 100%;
  font-size: 0.923em;
  margin: 0 0 10px;
  border: 1px solid #bebfb9;
}
table td,
table th {
  vertical-align: middle;
  padding: 8px 10px;
  border: 0;
  color: #000;
}
tr.even,
tr.odd {
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #bebfb9;
  background: #f3f4ee;
}
tr.odd {
  background: #fff;
}
tr.drag {
  background: #fe7;
}
tr.drag-previous {
  background: #ffb;
}
table th {
  text-transform: uppercase;
  background: #e1e2dc;
  font-weight: normal;
  border-width: 1px;
  border-style: solid;
  border-color: #bebfb9;
  padding: 3px 10px;
}
table th.active {
  background: #bdbeb9;
}
table th a {
  display: block;
  position: relative;
}
table th.active a {
  padding: 0 25px 0 0; /* LTR */
}
table th.active img {
  position: absolute;
  top: 3px;
  right: 3px; /* LTR */
}
table td.active {
  background: #e9e9dd;
}
table tr.odd td.active {
  background: #f3f4ee;
}
table tr.selected td.active,
table tr.selected td {
  background: #ffc;
  border-color: #eeb;
}
table.system-status-report tr {
  border-bottom: 1px solid #ccc;
}
table.system-status-report tr.ok {
  color: #255b1e;
  background-color: #e5ffe2;
}
table.system-status-report tr.info {
  color: #040f37;
  background-color: #bdf;
}
table.system-status-report tr.warning {
  color: #840;
  background-color: #fffce5;
}
table.system-status-report tr.error {
  color: #8c2e0b;
  background-color: #fef5f1;
}
/**
 * Exception for webkit bug with the right border of the last cell
 * in some tables, since it's webkit only, we can use :last-child
 */
tr td:last-child {
  border-right: 1px solid #bebfb9; /* LTR */
}


/**
 * Fieldsets.
 *
 * Fieldset legends are displayed like containers in Seven. However, several
 * browsers do not support styling of LEGEND elements. To achieve the desired
 * styling:
 * - All fieldsets use 'position: relative'.
 * - All legend labels are wrapped in a single span.fieldset-legend that uses
 *   'position: absolute', which means that the LEGEND element itself is not
 *   rendered by browsers.
 * - Due to using 'position: absolute', collapsed fieldsets do not have a
 *   height; the fieldset requires a 'padding-top' to make the absolute
 *   positioned .fieldset-legend appear as though it would have a height.
 * - Various browsers are positioning the legend differently if there is a
 *   'padding-left'/'padding-right' applied on a fieldset and inherit the
 *   positioning even to absolute positioned elements within; we therefore have
 *   to apply all padding to the inner .fieldset-wrapper instead.
 */
fieldset {
  border: 1px solid #ccc;
  padding: 2.5em 0 0 0; /* LTR */
  position: relative;
  margin: 1em 0;
}
fieldset .fieldset-legend {
  margin-top: 0.5em;
  padding-left: 15px; /* LTR */
  position: absolute;
  text-transform: uppercase;
}
fieldset .fieldset-wrapper {
  padding: 0 13px 13px 15px; /* LTR */
}
fieldset.collapsed {
  background-color: transparent;
}
html.js fieldset.collapsed {
  border-width: 1px;
  height: auto;
}
fieldset fieldset {
  background-color: #fff;
}
fieldset fieldset fieldset {
  background-color: #f8f8f8;
}

/**
 * Form elements.
 */
.form-item {
  padding: 9px 0;
  margin: 0 0 10px;
}
.filter-wrapper .form-item,
div.teaser-checkbox .form-item,
.form-item .form-item {
  padding: 5px 0;
  margin: 0;
  border: 0;
}
.form-type-checkbox {
  padding: 0;
}
.text-format-wrapper .form-item {
  padding-bottom: 0;
}
.form-item label {
  margin: 0;
  padding: 0;
}
.form-item label.option {
  font-size: 0.923em;
  text-transform: none;
}
.form-item label.option input {
  vertical-align: middle;
}
.form-disabled input.form-autocomplete,
.form-disabled input.form-text,
.form-disabled input.form-file,
.form-disabled textarea.form-textarea,
.form-disabled select.form-select {
  background-color: #eee;
  color: #777;
}

/* Filter */
.filter-wrapper {
  border-top: 0;
  padding: 10px 2px;
}
.filter-wrapper .fieldset-wrapper {
  padding: 0 6px;
}
.filter-wrapper .form-item,
.filter-wrapper .filter-guidelines,
.filter-wrapper .filter-help {
  font-size: 0.923em;
  padding: 2px 0 0 0; /* LTR */
}
ul.tips,
div.description,
.form-item div.description {
  margin: 5px 0;
  line-height: 1.231em;
  font-size: 0.923em;
  color: #666;
}
ul.tips li {
  margin: 0.25em 0 0.25em 1.5em; /* LTR */
}
body div.form-type-radio div.description,
body div.form-type-checkbox div.description {
  margin-left: 1.5em; /* LTR */
}
input.form-submit,
a.button {
  cursor: pointer;
  padding: 4px 17px;
  margin-bottom: 1em;
  margin-right: 1em; /* LTR */
  color: #5a5a5a;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande", Verdana, sans-serif;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  background: url(images/buttons.png) 0 0 repeat-x;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
a.button:link,
a.button:visited,
a.button:hover,
a.button:active {
  text-decoration: none;
  color: #5a5a5a;
}
input.form-submit:active {
  background: #666;
  color: #fff;
  border-color: #555;
  text-shadow: #222 0 -1px 0;
}
input.form-button-disabled,
input.form-button-disabled:active {
  background: #eee none;
  border-color: #eee;
  text-shadow: none;
  color: #999;
}
input.form-autocomplete,
input.form-text,
input.form-file,
textarea.form-textarea,
select.form-select {
  padding: 2px;
  border: 1px solid #ccc;
  border-top-color: #999;
  background: #fff;
  color: #333;
}
input.form-text:focus,
input.form-file:focus,
textarea.form-textarea:focus,
select.form-select:focus {
  color: #000;
  border-color: #ace;
}
html.js input.form-autocomplete {
  background-position: 100% 4px;
}
html.js input.throbbing {
  background-position: 100% -16px;
}
ul.action-links {
  margin: 1em 0;
  padding: 0 20px 0 20px; /* LTR */
  list-style-type: none;
  overflow: hidden;
}
ul.action-links li {
  float: left; /* LTR */
  margin: 0 1em 0 0; /* LTR */
}
ul.action-links a {
  padding-left: 15px; /* LTR */
  background: transparent url(images/add.png) no-repeat 0 center;
  line-height: 30px;
}

/* Exceptions */
#diff-inline-form select,
div.filter-options select {
  padding: 0;
}

/**
 * System.
 */
div.admin .right,
div.admin .left {
  width: 49%;
  margin: 0;
}
div.admin-panel,
div.admin-panel .body {
  padding: 0;
  clear: left;
}
div.admin-panel {
  margin: 0 0 20px;
  padding: 9px;
  background: #f8f8f8;
  border: 1px solid #ccc;
}
div.admin-panel h3 {
  font-size: 0.923em;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 9px;
}

/* admin/appearance */
#system-themes-page h2 {
  font-weight: normal;
  text-transform: uppercase;
}
.theme-selector h3 {
  font-weight: normal;
}
.theme-default h3 {
  font-weight: bold;
}
.system-themes-list-enabled .theme-selector h3 {
  margin-top: 0;
}

/* Update options. */
div.admin-options {
  background: #f8f8f8;
  line-height: 30px;
  height: 30px;
  padding: 9px;
  border: 1px solid #ccc;
  margin: 0 0 10px;
}
div.admin-options label {
  text-transform: uppercase;
  font: 0.846em/1.875em Lucida Grande, Lucida Sans Unicode, sans-serif;
}
div.admin-options label,
div.admin-options div.form-item {
  margin-right: 10px; /* LTR */
  float: left; /* LTR */
}
div.admin-options div.form-item {
  padding: 0;
  border: 0;
}

/* Update status */
.versions table.version {
  border: none;
}

/* Maintenance theming */
body.in-maintenance #sidebar-first {
  float: left; /* LTR */
  width: 200px;
}
body.in-maintenance #content {
  float: right; /* LTR */
  width: 550px;
  padding-right: 20px; /* LTR */
  clear: none;
}
body.in-maintenance #page {
  overflow: auto;
  width: 770px;
  margin: 0 auto;
  padding-top: 2em;
}
body.in-maintenance #branding h1 {
  width: 770px;
  margin: 0 auto;
  float: none;
}
body.in-maintenance .form-radios .form-type-radio {
  padding: 2px 0;
}
body.in-maintenance div.form-item:after {
  content: "";
  display: none;
  clear: none;
}
body.in-maintenance .form-submit {
  display: block;
}
body.in-maintenance #logo {
  margin-bottom: 1.5em;
  max-width: 180px;
}
ol.task-list {
  margin-left: 0; /* LTR */
  list-style-type: none;
  list-style-image: none;
}
ol.task-list li {
  padding: 0.5em 1em 0.5em 20px; /* LTR */
  color: #adadad;
}
ol.task-list li.active {
  background: transparent url(images/task-item.png) no-repeat 3px 50%; /* LTR */
  padding: 0.5em 1em 0.5em 20px; /* LTR */
  color: #000;
}
ol.task-list li.done {
  background: transparent url(images/task-check.png) no-repeat 0 50%;
  color: green;
}

/* Overlay theming */
.overlay #branding {
  background-color: #fff;
  padding-top: 15px;
}
.overlay #branding h1.page-title,
.overlay #left,
.overlay #footer {
  display: none;
}
.overlay #page {
  margin: 0;
  padding: 0 20px;
}
.overlay #branding div.breadcrumb {
  float: left; /* LTR */
  position: relative;
  z-index: 10;
}
#overlay-tabs {
  bottom: -1px;
  font-size: 1.54em;
  line-height: 1.54em;
  margin: 0;
}
#overlay-tabs li {
  margin: 0 -2px;
}
.overlay ul.secondary {
  background: transparent none;
  margin: -1.4em 0 0.3em 0; /* LTR */
  overflow: visible;
}
.overlay #content {
  padding: 0;
}
h1#overlay-title {
  font-weight: normal;
}

/* Shortcut theming */
div.add-or-remove-shortcuts {
  float: left; /* LTR */
  padding-top: 6px;
  padding-left: 6px; /* LTR */
}

/* Dashboard */
#dashboard .dashboard-region div.block h2 {
  background: #E0E0D8;
}
#dashboard div.block h2 {
  margin: 0;
  font-size: 1em;
  padding: 3px 10px;
}
#dashboard div.block div.content {
  padding: 10px 5px 5px 5px; /* LTR */
}
#dashboard div.block div.content ul.menu {
  margin-left: 20px; /* LTR */
}
#dashboard .dashboard-region .block {
  border: #ccc 1px solid;
}

/* Field UI */

#field-display-overview input.field-formatter-settings-edit {
  margin: 0;
  padding: 1px 8px;
}
#field-display-overview tr.field-formatter-settings-changed {
  background: #FFFFBB;
}
#field-display-overview tr.drag {
  background: #FFEE77;
}
#field-display-overview tr.field-formatter-settings-editing {
  background: #D5E9F2;
}
#field-display-overview .field-formatter-settings-edit-form .form-item {
  margin: 10px 0;
}
#field-display-overview .field-formatter-settings-edit-form .form-submit {
  margin-bottom: 0;
}

/* Recent content block */
#dashboard div#block-node-recent div.content {
  padding: 0;
}
#block-node-recent table,
#block-node-recent tr {
  border: none;
}
#block-node-recent .more-link {
  padding: 0 5px 5px 0; /* LTR */
}

/* User login block */
#user-login-form .openid-links {
  margin-left: 0; /* LTR */
}
#user-login-form .openid-links .user-link {
  margin-left: 1.5em; /* LTR */
}

/* Disable overlay message */
#overlay-disable-message {
  background-color: #addafc;
}
#overlay-disable-message a,
#overlay-disable-message a:visited {
  color: #000;
}
#overlay-disable-message a:focus,
#overlay-disable-message a:active {
  outline: none;
  text-decoration: underline;
}
.overlay-disable-message-focused a {
  padding: 0.4em 0.6em;
}
.overlay-disable-message-focused #overlay-dismiss-message {
  background-color: #59a0d8;
  color: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}


/* Custom CSS 
----------------------------------------------------------------*/

/* -- Font -- */

@font-face {
    font-family: 'THSarabunNewBold';
    src: url('fonts/thsarabunnew_bold-webfont.eot');
    src: url('fonts/thsarabunnew_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/thsarabunnew_bold-webfont.woff') format('woff'),
         url('fonts/thsarabunnew_bold-webfont.ttf') format('truetype'),
         url('fonts/thsarabunnew_bold-webfont.svg#THSarabunNewBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'THSarabunNewRegular';
    src: url('fonts/thsarabunnew-webfont.eot');
    src: url('fonts/thsarabunnew-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/thsarabunnew-webfont.woff') format('woff'),
         url('fonts/thsarabunnew-webfont.ttf') format('truetype'),
         url('fonts/thsarabunnew-webfont.svg#THSarabunNewRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'THSarabunNewBold';
  margin: 10px 0;
}

div.messages ul li {
	word-wrap: break-word;
} 

a.file-download-btn {
  float: right;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  padding: 0 15px;
  background-color: #55b0d6;
  color: #FFF;
  border-left: 1px solid #FFF;
}
a.file-download-btn:hover {
  text-decoration: none;
  background-color: #4084a0;
}

/* Open Journal 
----------------------------------------------------------------*/
body {
	color: #111;
	background: url(images/bg-body.png);
}

/* Header logged out
----------------------------------------------------------------*/
.header-logged-out {
	background: url(images/bg-header.png) #FFF repeat-x bottom left;
	height: 50px;
	text-align: center;
	overflow: hidden;
}
#open-journal-sign-logo {
	text-align: center;
	margin: 50px 0;
}

/* Header logged in
----------------------------------------------------------------*/
.header-logged-in {
	background: url(images/bg-header.png) #FFF repeat-x bottom left;
	height: 80px;
	text-align: center;
	/*overflow: hidden;*/
}
.header-logged-in #header-content {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
#open-journal-small-logo {
	float: left;
	margin-top: 20px;
}
.user-manage {
	float: right;
	line-height: 80px;
}
.user-manage a.view-all-journal {
	float: left;
	margin-right: 15px;
}
.user-manage .user-dropdown {
	float: left;
}
.user-manage .user-dropdown img {
	float: left;
	margin-right: 15px;
	margin-top: 22px;
}
.user-manage .user-dropdown .dropdown-link {
	background: url(images/arrow-dropdown.png) no-repeat bottom right;
	padding-right: 20px;
}
.user-manage .user-dropdown .user-picture-wrapper,
#file-list-item .user-picture-wrapper,
#overview-discussion .user-picture-wrapper {
  display: inline;
}

.user-manage .user-dropdown ul {
	position: absolute;
	top: 80px;
	right: 0;
	width: 130px;
	z-index: 10;
	list-style: none;
	margin: 0;
}
.user-manage .user-dropdown ul li {
	line-height: 1.5em;
	text-align: right;
	width: 130px;
	padding: 5px;
	padding: 0;
	border-bottom: 1px solid #ccc;
}
.user-manage .user-dropdown ul li a {
	background: #FFF;
	display: block;
	width: 120px;
	padding: 5px;
}
.user-manage .user-dropdown img {
  border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

/* Page layout
----------------------------------------------------------------*/
#page.page-sign {
	width: 436px;
	margin: 0 auto;
	background-color: transparent;
	padding: 0;
}
#page.page-normal,
#open-journal-account-setting-form {
	width: 920px;
	margin: 0 auto;
	background-color: transparent;
	padding: 0;
}
#page.page-normal {
	width: 960px;
}
#open-journal-account-setting-form {
	overflow: hidden;
}
h1.page-title {
	width: 910px;
	height: 32px;
	font-size: 36px;
	line-height: 36px;
	margin: 30px auto;
	padding-left: 50px;
	background: url(images/bg-page-title.png) no-repeat center left;
	text-transform: uppercase;
}

#journal-detail-content {
	width: 640px;
	float: left;
	margin-top: 20px;
}
.journal-detail-normal #journal-detail-content {
	width: 960px;
}
	.journal-detail-normal #journal-detail-content .journal-block-content {
		width: 920px;
	}
#journal-detail-sidebar {
	width: 300px;
	float: right;
	margin-top: 20px;
}
	.journal-detail-has-sidebar #journal-detail-content {
		width: 640px;
	}
	.journal-detail-has-sidebar #journal-detail-content .journal-block-content {
		width: 600px;
	}
	#journal-detail-sidebar .journal-block-content {
		width: 260px;
	}
	
#open-journal-account-setting-form .user-picture img {
  border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
/* Form Style
----------------------------------------------------------------*/
#open-journal-login-form,
#open-journal-register-form,
.page-user-reset #page,
.page-user-password #page,
#open-journal-account-setting-form,
#open-journal-information-form,
#open-journal-discussion-form,
.block-bg-shadow {
	padding: 20px;
	background-color: #FFF;
	display: block;
	box-shadow: 2px 2px 5px #DADADA;
	margin-bottom: 40px;
}
#open-journal-login-form h2,
#open-journal-register-form h2,
h2.journal-block-title,
#open-journal-information-form h2,
#open-journal-discussion-form h2,
form#user-pass h2 {
	background: url(images/ic.png) no-repeat 2px 4px;
	padding-left: 20px;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-size: 22px;
}
#open-journal-login-form .form-item,
#open-journal-register-form .form-item,
form#user-pass .form-item,
#open-journal-comment-form .form-item{
	position: relative;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}
#open-journal-login-form label,
#open-journal-register-form label,
form#user-pass label,
#open-journal-comment-form .form-item-message label {
	color: #acacac;
	position: absolute;
	top: 16px;
	left: 20px;
	font-family: 'THSarabunNewRegular';
	font-size: 24px;
}
#open-journal-login-form label .form-required,
#open-journal-register-form label .form-required,
form#user-pass label .form-required,
#open-journal-comment-form .form-required {
	display: none;
}

#open-journal-login-form #edit-name,
#open-journal-login-form #edit-pass,
#open-journal-register-form #edit-name,
#open-journal-register-form #edit-mail,
#open-journal-register-form #edit-data-firstname,
#open-journal-register-form #edit-data-lastname,
form#user-pass #edit-name {
	padding: 11px 20px;
	border: none;
	background: #f1f1f1;
	color: #111;
	width: 356px;
	font-family: 'THSarabunNewRegular';
	font-size: 22px;
}
#open-journal-login-form #edit-name,
form#user-pass #edit-name {
	font-size: 28px;
	padding: 8px 20px;
}
#open-journal-login-form #edit-pass {
	color: #555;
	font-weight: 200;
	font-size: 24px;
	line-height: 24px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
}
#open-journal-login-form #edit-name.error,
#open-journal-login-form #edit-pass.error,
#open-journal-register-form #edit-name.error,
#open-journal-register-form #edit-mail.error,
#open-journal-register-form #edit-data-firstname.error,
#open-journal-register-form #edit-data-lastname.error {
	border: 2px solid red;
	padding: 8px 18px;
}

#open-journal-login-form .form-actions,
#open-journal-register-form .form-actions {
	margin: 0;
	display: block;
}
input.form-submit {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border: none;
	background-color: #55b0d6;
	color: #FFF;
	text-transform: uppercase;
	padding: 8px 17px;
	float: left;
	margin-bottom: 0;
}
input.form-submit:hover {
	background-color: #4084a0;
}
.link-login,
.link-register,
.link-forget {
	color: #909090;
	text-transform: uppercase;
	line-height: 33px;
}
.link-login,
.link-register {
	border-right: 1px solid #909090;
	padding-right: 10px;
}
.link-forget {
	padding-left: 10px;
}

/* register Form fixed
----------------------------------------------------------------*/
#open-journal-register-form fieldset {
	border: none;
	padding: 0;
	margin: 0;
}
#open-journal-register-form fieldset .fieldset-wrapper {
	padding: 0;
}
#open-journal-register-form fieldset#edit-data {
	padding-top: 5px;
}
#open-journal-register-form fieldset#edit-data .fieldset-legend {
	padding-left: 0;
	position: relative;
	text-align: left;
	margin-left: 0;
}
#open-journal-register-form .fieldset-description {
	color: #ACACAC;
	margin-bottom: 15px;
}
#open-journal-register-form .description {
	color: #acacac;
	margin-top: 5px;
}
/* Member Condition 
----------------------------------------------------------------*/
#member-condition {
	background: url(images/ic.png) no-repeat 2px 4px;
	padding-left: 20px;
	float: left;
}
#member-condition  h3 {
	color: #767676;
	text-transform: uppercase;
	margin-top: 0;
	font-size: 22px;
}
#member-condition  div {
	color: #929292;
}

/* Journal List Page
----------------------------------------------------------------*/
#page.page-journal-list {
	padding: 0;
	background-color: transparent;
	box-shadow: none;
	margin-bottom: 0;
	width: 960px;
	margin: 30px auto 40px auto;
}
	#page.page-journal-list #user-heading {
		margin-bottom: 16px;
		overflow: hidden;
	}
		#page.page-journal-list #user-heading h1 {
			text-indent: -999em;
			overflow: hidden;
			height: 0;
			margin: 0;
		}
		#page.page-journal-list #user-heading img {
			float: left;
			margin-right: 20px;
		}
		#page.page-journal-list #user-heading h2 {
			font-size: 30px;
			margin-bottom: 0;
			margin-top: 18px;
		}

/* journal menu tab */

#page.page-journal-list .journal-filter-tab,
.journal-menu {
  border-width: 1px 0 1px 0;
  border-color: #555555;
  border-style: solid;
  display: block;
  width: 940px;
  height: 30px;
  float: left;
  padding: 10px 0 10px 20px;
  position: relative;
}
  #page.page-journal-list .journal-filter-tab .journal-filter .journal-filter-active,
  #journal-menu-item-list li a {
  	line-height: 30px;
  	font-size: 26px;
  	font-family: 'THSarabunNewRegular';
  	float: left;
  	cursor: pointer;
  	padding-right: 25px;
  	background: url(images/journal-filter-dwn-arw.png) no-repeat center right;
  }
  #page.page-journal-list .journal-filter-tab ul#journal-filter-item-list {
  	position: absolute;
  	z-index: 10;
  	top: 51px;
  	left: 0;
  	list-style: none;
  	margin: 0;
  	width: 170px;
  	box-shadow: 3px 3px 5px 0 #ccc;
  }
  	#page.page-journal-list .journal-filter-tab ul#journal-filter-item-list li {
  		background: url(images/bg-body.png) repeat-x;
  		border: 1px solid #555;
  		border-top: none;
  		border-left: none;
  		border-right: none;
  	}
  		#page.page-journal-list .journal-filter-tab ul#journal-filter-item-list li a {
  			display: block;
  			width: 130px;
  			padding: 5px 20px;
  			color: #333;
  		}
  		#page.page-journal-list .journal-filter-tab ul#journal-filter-item-list li a.active {
  			background: url(images/checkmark.png) no-repeat center left;
  			padding-left: 25px;
  			width: 125px;
  		} 
  		#page.page-journal-list .journal-filter-tab ul#journal-filter-item-list li a:hover {
  			text-decoration: none;
  			background-color: #ccc;
  		}
  #page.page-journal-list .journal-filter-tab .add-journal-btn {
  	position: absolute;
  	right: 0;
  	top: 10px;
  }
  	#page.page-journal-list .journal-filter-tab .add-journal-btn a {
  		display: block;
  		padding: 5px 10px 5px 30px;
  		border-radius: 5px;
  		-moz-border-radius: 5px;
  		-webkit-border-radius: 5px;
  		color: #FFF;
  		text-transform: uppercase;
  		background: url(images/ic-add-journal-btn.png) #55b0d6 no-repeat 7px 7px;
  	}
  		#page.page-journal-list .journal-filter-tab .add-journal-btn a:hover {
  			text-decoration: none;
  			background-color: #4084a0;
  		}

/* fixed journal menu */

.journal-menu {
	padding: 10px 0 10px 0;
	width: 960px;
}
  #journal-menu-item-list li a {
  	font-size: 22px;
  	line-height: 31px;
  	height: 30px;
  	display: block;
  }
    #journal-menu-item-list {
  		width: 940px;
  		list-style: none;
  		margin: 0;
  	}
    	#journal-menu-item-list li {
  			float: left;
  			margin: 0 10px;
  		}
  		#journal-menu-item-list li a {
  			padding: 0 10px;
  			margin: 0;
  			background-image: none;
  			color: #333;
  		}
  		#journal-menu-item-list li a:hover,
  		#journal-menu-item-list li a.active {
  			text-decoration: none;
  			background-color: #55b0d6;
  			color: #FFF;
  			border-radius: 5px;
  			-moz-border-radius: 5px;
  			-webkit-border-radius: 5px;
  		}
.profile-picture-big,
.profile-picture-big img,
.profile-picture-large,
.profile-picture-large img,
.profile-picture-small,
.profile-picture-small img {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
/* Journal list content */
#journal-list {
	width: 960px;
	float: left;
	margin-top: 20px;
	padding: 0;
}
#journal-list ul {
	margin: 0;
	list-style: none;
	float: left;
}
#journal-list .journal-item {
	background-color: #FFF;
	display: block;
	box-shadow: 2px 2px 5px #DADADA;
	margin-bottom: 40px;
	float: left;
	width: 960px;
	position: relative;
	min-height: 120px;
	padding-bottom: 30px;
}
	/* Journal Status */
	#journal-list .journal-item .journal-status {
		display: block;
		float: left;
		padding: 10px 15px;
		background-color: #55b0d6;
		color: #FFF;
		text-transform: uppercase;
		margin-left: -5px;
		margin-top: 10px;
	}
	#journal-list .journal-item .reject {
		background-color: #ff5f65;
	}
	#journal-list .journal-item .finish-publish {
		background-color: #69c5ae;
	}	
	/* Journal title */
	#journal-list .journal-item .journal-title {
		width: 650px;
		padding: 20px 20px 12px 20px;
		margin: 0;
		float: left;
		margin-right: 250px;
	}
	#journal-list .journal-item h3.journal-title a {
		color: #111111;
		font-size: 30px;
		line-height: 30px;
		font-family: 'THSarabunNewRegular';
	}
	#journal-list .journal-item h3.journal-title a:hover {
		text-decoration: none;
	}
	/* Journal update */
	#journal-list .journal-item .journal-update {
		float: left;
		margin-left: 20px;
		margin-right: 20px;
	}
	/* Journal create */
	#journal-list .journal-item .journal-create {
		float: left;
	}
	/* Relate Peoples */
	#journal-list .journal-item .relate-peoples {
		position: absolute;
		right: 20px;
		top: 33px;
		width: 250px;
	}
	.relate-peoples li {
		float: left;
		margin: 0 5px 5px 5px;
		overflow: hidden;
		width: 40px;
		height: 40px;
	}
	.relate-peoples li a {
		display: block;
		width: 40px;
		height: 40px;
		overflow: hidden;
		position: relative;
		border-radius: 20px;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
	}
	span.owner-label {
		position: absolute;
		bottom: 0;
		left: 0;
		font-size: 7px;
		display: block;
		background: #000;
		opacity: 0.8;
		color: #FFF;
		width: 40px;
		text-align: center;
		height: 14px;
		line-height: 13px;
		overflow: hidden;
	}
	.relate-peoples li.more-people {
		font-size: 20px;
		width: 40px;
		height: 40px;
		text-align: center;
		line-height: 35px;
		background-color: #ccc;
		color: #FFF;
		border-radius: 20px;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
	}
		.relate-peoples li.more-people a {
			color: #FFF;
		}
		.relate-peoples li.more-people a:hover {
			text-decoration: none;
		}
#journal-list .load-more {
	display: block;
	width: 140px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
	#journal-list .load-more a {
		display: block;
		padding: 10px 20px;
		background: #55b0d6;
		color: #FFF;
		text-transform: uppercase;
	}
		#journal-list .load-more a:hover {
			background: #4084a0;
			text-decoration: none;
		}

.user-picture-wrapper {
  position: relative;
  border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 100%;
  height: 100%;
  display: block;
}

.user-picture-wrapper img {
  -moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

/* Journal Overview
----------------------------------------------------------------*/
.journal-block {
	display: block;
	float: left;
	padding-top: 10px;
	position: relative;
}
.block-bg-shadow {
	margin-bottom: 20px;
}
h2.journal-block-title {
	margin-bottom: 15px;
}
.people-block-overview .relate-peoples {
	position: relative;
	width: 260px;
	margin: 0;
	margin-bottom: 10px;
	display: block;
	float: left;
}
.people-block-overview .view-all-people {
	float: right;
}
.information-block .information-field .label {
	text-align: right;
	width: 85px;
	display: block;
	padding-right: 15px;
	float: left;
	color: #111111;
	font-weight: bold;
}
.information-block .information-field .value {
	width: 160px;
	float: right;
	color: #333333;
	word-wrap: break-word;
}
.information-field {
	margin-bottom: 15px;
	float:left;
}
.abstract-block .journal-block-content p {
	padding: 0 20px;
}
.journal-file-download {
	background-color: #ebebeb;
	display: block;
	overflow: hidden;
	/* width: 540px; */
	width: 550px;
	margin: 0 20px;
	padding-left: 10px;
}
	.journal-file-download .file-download-update,
	.journal-file-download .file-download-create {
		float: left;
		margin-right: 20px;
		color: #7d7d7d;
		line-height: 40px;
	}
.status-block .journal-update .label,
.status-block .journal-create .label {
	font-weight: bold;
}
.status-block {
	width: 260px;
}
	.status-block h2.journal-block-title {
		width: 271px;
		background: url(images/bg-header-block.png) no-repeat;
		margin: 0 0 0 -28px;
		padding: 17px 15px 23px 30px;
		color: #FFF;
		font-family: 'THSarabunNewRegular';
	}
#overview-discussion,
#file-list-item {
	list-style: none;
	margin: 0 20px 0 20px;
	border-top: 1px solid #e1e1e1;
	width: 560px;
	float: left;
}
	#overview-discussion li,
	#file-list-item li {
		float:left;
		padding: 10px 0;
		border-bottom: 1px solid #e1e1e1;
	}
	#overview-discussion li .journal-user,
	#file-list-item li .journal-user {
		width: 140px;
		height: 40px;
		float: left;
		line-height: 40px;
	}
	#file-list-item li .journal-user {
		width: 190px;
	}
		#overview-discussion li .journal-user a img,
		#file-list-item li .journal-user a img {
			float: left;
			margin-right: 10px;
		}
		#overview-discussion li .journal-user a:hover,
		#file-list-item li .journal-user a:hover {
			text-decoration: none;
		}
		#overview-discussion li .journal-user a span,
		#file-list-item li .journal-user a span {
			display: block;
			line-height: 40px;
			color: #666666;
		}
	#overview-discussion li .discus-title,
	#overview-discussion li .discus-content {
		float: right;
		width: 410px;
		padding-left: 10px;
	}
	#overview-discussion li .discus-title {
		margin-bottom: 7px;
	}
	#overview-discussion li .discus-title a {
		font-weight: bold;
		color: #111;
		float: left;
		margin-right: 5px;
	}
		#overview-discussion li .discus-title a:hover {
			text-decoration: none;
		}
	#overview-discussion li .file-attach img {
		margin-left: 4px;
	}
.view-all-discus {
	margin-left: 20px;
	margin-top: 20px;
	float: left;
}

#journal-detail-wrapper .add-discussion-btn a {
  display: block;
	padding: 5px 10px 5px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #7d7d7d;
	background: url(images/ic-add-journal-btn.png) transparent no-repeat 7px 7px;
	float: right;
	margin-right: 10px;
	margin-top: 5px;
}

#journal-detail-wrapper .discussion-block .journal-block-title {
  float: left;
}

.journal-detail-content-item {
  border-bottom:1px solid #aaa;
  padding: 10px 5px;
}

/* Journal Add
----------------------------------------------------------------*/
#open-journal-information-form {
	overflow: hidden;
}

#open-journal-information-form #edit-data {
	padding: 0 20px;
	float: left;
}
#open-journal-information-form #edit-main {
	width: 510px;
	float: left;
}
#open-journal-information-form #edit-main .form-item {
	width: 470px;
	padding: 0 20px;
}
#open-journal-information-form #edit-data {
	width: 370px;
	margin-top: 40px;
}
#open-journal-information-form #edit-data h3 {
	font-size: 22px;
}
#open-journal-information-form #edit-data fieldset {
	border: none;
	margin-top: 0;
}
#open-journal-information-form #edit-data fieldset#edit-group {
	border: 1px solid #C9C9C9;
	padding: 25px 10px 20px 0;
	margin-top: 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}
#open-journal-information-form #edit-data #edit-group .fieldset-wrapper {
	padding: 0;
}

#edit-subject-sub,
#edit-subject-en,
#edit-dc-creator,
#edit-dc-publisher,
#edit-dc-contributor,
#edit-date {
	padding-top: 0;
}
.form-item-dc-language {
	margin-bottom: 10px;
	overflow: hidden;
}
#edit-subject-sub legend,
#edit-subject-en legend,
#edit-dc-creator legend,
#edit-dc-publisher legend,
#edit-dc-contributor legend,
#edit-date legend,
.form-item-dc-language label,
.form-item-dc-identifier label,
.form-item-dc-coverage label,
.form-item-dc-type label,
.form-item-dc-format label,
.form-item-dc-right label {
	width: 100px;
	float: left;
	text-align: right;
	padding-right: 23px;
	padding-top: 3px;
}
#edit-date legend {
	padding-top: 20px;
}

.form-item-dc-identifier,
.form-item-dc-coverage,
.form-item-dc-type,
.form-item-dc-format,
.form-item-dc-right {
	overflow: hidden;
	margin-bottom: 0px;
}

.form-item-dc-identifier label,
.form-item-dc-type label,
.form-item-dc-format label,
.form-item-dc-right label,
.form-item-dc-coverage label {
	width: 100px;
	padding-right: 0px;
}
.form-item-dc-identifier .description,
.form-item-dc-coverage .description {
	margin: 10px 0 0 132px !important;
	float: left;
}

.form-item-dc-title,
.form-item-description-sub,
.form-item-description-en {
	margin-bottom: 20px;
}

.form-item-dc-language label,
.form-item-dc-title label,
.form-item-description-sub label,
.form-item-description-en label,
.form-item-dc-identifier label,
.form-item-dc-coverage label,
.form-item-dc-type label,
.form-item-dc-format label,
.form-item-dc-right label {
	position: relative;
	float: left;
}

#edit-subject-sub .fieldset-legend,
#edit-subject-en .fieldset-legend,
#edit-dc-creator .fieldset-legend,
#edit-dc-publisher .fieldset-legend,
#edit-dc-contributor .fieldset-legend,
#edit-date .fieldset-legend {
	position: relative;
	padding-left: 0;
	text-transform: none;
}
#edit-subject-sub .fieldset-legend .label-help,
#edit-subject-en .fieldset-legend .label-help,
#edit-dc-creator .fieldset-legend .label-help,
#edit-dc-publisher .fieldset-legend .label-help,
#edit-dc-contributor .fieldset-legend .label-help,
#edit-date .fieldset-legend .label-help,
#edit-dc-type .fieldset-legend .label-help,
#edit-dc-format .fieldset-legend .label-help,
#edit-dc-right .fieldset-legend .label-help,
.form-item-dc-language label .label-help,
.label-help {
	text-align: justify;
	text-indent: -999em;
	overflow: hidden;
	display: block;
	width: 12px;
	height: 12px;
	background: url(images/ic-hint.png) no-repeat center right;
	position: absolute;
	top: 3px;
	right: -16px;
}
.form-item-dc-language label .label-help {
	top: 7px;
	right: 5px;
}

.form-item-dc-identifier label .label-help,
.form-item-dc-type label .label-help,
.form-item-dc-format label .label-help,
.form-item-dc-right label .label-help,
.form-item-dc-coverage label .label-help {
	top: 7px;
	margin-right: -2px;
}

#edit-subject-sub .fieldset-wrapper,
#edit-subject-en .fieldset-wrapper,
#edit-dc-creator .fieldset-wrapper,
#edit-dc-publisher .fieldset-wrapper,
#edit-dc-contributor .fieldset-wrapper,
#edit-date .fieldset-wrapper,
.form-item-dc-language #edit-dc-language,
.form-item-dc-coverage #edit-dc-coverage,
.form-item-dc-identifier #edit-dc-identifier,
.form-item-dc-type #edit-dc-type,
.form-item-dc-format #edit-dc-format,
.form-item-dc-right #edit-dc-right {
	width: 225px;
	float: right;
}
.form-item-dc-language #edit-dc-language {
	margin-top: 3px;
}
	#edit-subject-sub .fieldset-wrapper .form-item,
	#edit-subject-en .fieldset-wrapper .form-item,
	#edit-dc-creator .fieldset-wrapper .form-item,
	#edit-dc-publisher .fieldset-wrapper .form-item,
	#edit-dc-contributor .fieldset-wrapper .form-item,
	#edit-date .fieldset-wrapper .form-item,
	.form-item-dc-identifier #edit-dc-identifier,
	.form-item-dc-coverage #edit-dc-coverage
  .form-item-dc-type #edit-dc-type,
  .form-item-dc-format #edit-dc-format,
  .form-item-dc-right #edit-dc-right {
		margin-bottom: 0;
		padding-top: 0;
	}
		#edit-subject-sub .fieldset-wrapper .form-item .multi-textfield,
		#edit-subject-en .fieldset-wrapper .form-item .multi-textfield,
		#edit-dc-creator .fieldset-wrapper .form-item .multi-textfield,
		#edit-dc-publisher .fieldset-wrapper .form-item .multi-textfield,
		#edit-dc-contributor .fieldset-wrapper .form-item .multi-textfield,
		.form-item-dc-identifier #edit-dc-identifier,
		.form-item-dc-coverage #edit-dc-coverage,
    .form-item-dc-type #edit-dc-type,
    .form-item-dc-format #edit-dc-format,
    .form-item-dc-right #edit-dc-right,
		.form-item-dc-title .form-text,
		.form-item-description-sub .form-textarea,
		.form-item-description-en .form-textarea {
			width: 200px;
			padding: 2px 10px 2px 10px;
			border: none;
			background: #f1f1f1;
			color: #111;
			font-family: 'THSarabunNewRegular';
			font-size: 20px;
		}
		.form-item-dc-title .form-text,
		.form-item-description-sub .form-textarea,
		.form-item-description-en .form-textarea  {
			width: 470px;
			max-width: 470px;
			line-height: 1em;
		}
		#edit-description-sub,
		#edit-description-en {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.form-item-dc-title .form-text {
			width: 450px;
		}
		.form-item-dc-title label,
		.form-item-description-sub label,
		.form-item-description-en label {
			margin-bottom: 10px;
		}
		.form-item-dc-identifier #edit-dc-identifier,
		.form-item-dc-coverage #edit-dc-coverage,
    .form-item-dc-type #edit-dc-type,
    .form-item-dc-format #edit-dc-format,
    .form-item-dc-right #edit-dc-right {
			margin-right: 5px;
		}
#edit-date .form-type-select,
#edit-date .fieldset-wrapper span {
	float: left;
	margin-right: 10px;
	text-align: center;
}
#edit-date .fieldset-wrapper span {
	margin-top: 20px;
}
#edit-file-ajax-wrapper {
	margin-bottom: 20px;
}
#edit-file-ajax-wrapper label {
  position: relative;
  float: left;
}
#edit-file-ajax-wrapper .description,
#edit-file-ajax-wrapper .form-type-managed-file,
.form-type-managed-file  {
  float: left;
}
.form-type-managed-file {
	padding-left: 20px;
	margin-bottom: 20px;
}

#edit-file {
	width: 470px;
	float: left;
}
#edit-file-upload-button,
#edit-file-remove-button {
	float: none;
	margin-left: 20px;
}
.form-item-description-sub .form-textarea-wrapper,
.form-item-description-en .form-textarea-wrapper {
	clear: both;
}
#edit-main .form-actions {
  padding-left: 20px;
  margin-top: 30px;
}
#edit-main .form-actions a {
	color: #555;
	line-height: 35px;
}
/* Add Discussion
----------------------------------------------------------------*/
.form-item-title .form-text,
.form-item-description .form-textarea,
#open-journal-comment-form .form-textarea {
  width: 200px;
  padding: 2px 10px 2px 10px;
  border: none;
  background: #f1f1f1;
  color: #111;
  font-family: 'THSarabunNewRegular';
  font-size: 20px;
}
#open-journal-discussion-form .form-textarea,
#open-journal-comment-form .form-textarea {
	width: 504px;
}
.form-item-title .form-text,
.form-item-description .form-textarea {
  width: 520px;
  max-width: 520px;
}
#open-journal-discussion-form .form-textarea {
	width: 560px;
	max-width: 560px;
}
#open-journal-discussion-form .form-text {
	width: 540px;
	max-width: 540px;
}
.form-item-title .form-text {
  width: 500px;
}
#edit-fid-ajax-wrapper {
	margin-bottom: 20px;
}
#edit-fid-ajax-wrapper label {
  position: relative;
  float: left;
}
#open-journal-discussion-form label {
	margin-bottom: 10px;
	line-height: 30px;
	margin-right: 10px;
}
#edit-fid-ajax-wrapper .description,
#edit-fid-ajax-wrapper .form-type-managed-file {
  float: left;
  padding-left: 0;
}
#edit-fid {
	width: 520px;
	float: left;
}
#edit-fid-upload-button,
#edit-fid-remove-button {
	float: none;
	margin-left: 20px;
}
#open-journal-discussion-form .form-actions {
  padding-left: 0;
  margin-top: 30px;
}
#open-journal-discussion-form .form-actions a {
	color: #555;
	line-height: 35px;
}
#open-journal-discussion-form .form-item,
#open-journal-discussion-form .form-actions {
	padding: 0 20px;
}

/* Discussion List
----------------------------------------------------------------*/
.journal-discussion-list-block {
	padding: 53px 40px 40px 40px;
	position: relative;
	float: left;
}
.journal-discussion-list-block .add-discussion-btn {
	position: absolute;
	right: 40px;
	top: 10px;
}
	.journal-discussion-list-block .add-discussion-btn a {
	  display: block;
	  padding: 5px 10px 5px 30px;
	  border-radius: 5px;
	  -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
	  color: #FFF !important;
	  text-transform: uppercase;
	  background: url(images/ic-add-journal-btn.png) #55b0d6 no-repeat 7px 7px !important;
	  margin-right: 0 !important;
	}
		.journal-discussion-list-block .add-discussion-btn a:hover {
		  text-decoration: none;
		  background-color: #4084a0 !important;
		}
.journal-discussion-list-item {
	border-top: 1px solid #aaa;
	border-bottom: 0;
	padding: 10px 0;
	float: left;
}
	.journal-discussion-list-item .journal-user {
		width: 130px;
		height: 40px;
		float: left;
		line-height: 40px;
		margin-right: 10px;
	}
		.journal-discussion-list-item .user-picture-wrapper {
			float: left;
			margin-right: 10px;
			width: 40px;
			height: 40px;
		}
		.journal-discussion-list-item a.user-name-wrapper {
			color: #000;
		}
	.journal-discussion-list-item .discus-title,
	.journal-discussion-list-item .discus-content {
		width: 410px;
		float: left;
		padding-left: 10px;
	}
	.journal-discussion-list-item .discus-title {
		margin-bottom: 7px;
	}
	.journal-discussion-list-item .discus-title a {
		font-weight: bold;
		color: #111;
		float: left;
		margin-right: 5px;
	}
		.journal-discussion-list-item .discus-title a:hover {
			text-decoration: none;
		}

/* Discussion Detail
----------------------------------------------------------------*/
.discussion-block h2.journal-block-title {
	width: 560px;
	float: left;
}
.discussion-block h3 {
	width: 560px;
	font-size: 22px;
	padding-left: 20px;
}
ul.discussion-list {
	margin: 0;
	list-style: none;
	padding: 0 20px;
}
	ul.discussion-list li {
		border-top: 1px solid #aaa;
		padding: 10px 0;
		float: left;
		width: 560px;
	}
		ul.discussion-list li .user-picture-wrapper,
		.journal-comment-form-wrapper .user-picture-wrapper {
			float: left;
			width: 40px;
			margin-right: 15px;
		}
		.discussion-item-submited {
			font-weight: bold;
		}
		.discussion-item-content,
		.comment-item-content {
			float: left;
			width: 504px;
			margin-top: 8px;
		}

		.discussion-item-edit-link,
		.comment-item-edit-link {
			float: right;
		}
			.discussion-item-edit-link a,
			.comment-item-edit-link a {
				color: #aa9c84;
				font-size: 0.8em;
			}
.journal-comment-form-wrapper {
	margin: 0 20px;
	width: 560px;
	float: left;
	padding: 10px 0 10px 0;
	border-top: 1px solid #aaa;
}
	.journal-comment-form-submited {
		margin-bottom: 17px;
	}
	.journal-comment-form-submited,
	.journal-comment-form-submited a {
		font-weight: bold;
		color: #000;
	}
	
/* File List
----------------------------------------------------------------*/
.files-block {
	background: url(images/bg-new-file.png) #FFF no-repeat 0 77px;
}

#file-list-item { width: 880px; }
	#file-list-item li .file-name {
		width: 580px;
		float: left;
	}
		#file-list-item li .file-name a {
			color: #111;
			font-size: 18px;
			font-weight: bold;
		}
		#file-list-item li .file-name a:hover {
			text-decoration: none;
		}
	#file-list-item li .upload-date,
	#file-list-item li .file-size {
		float: left;
		margin-right: 30px;
		color: #333;
		font-size: 0.8em;
	}
	#file-list-item li .file-attach img {
		margin-right: 4px;
	}
	#file-list-item li a.file-download-btn {
		float: none;
		padding: 10px 15px;
	}

/* People
----------------------------------------------------------------*/
.people-block h2.journal-block-title {
	margin-bottom: 0;
}
.people-block .journal-block-content {
	padding: 0 20px;
	margin-top: 30px;
	width: 100%;
	float: left;
}
h3.people-section-title {
  color: #111;
  font-family: 'THSarabunNewBold';
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.people-block .journal-block-content ul {
	list-style: none;
	margin: 0;
	margin-top: 30px;
}
.people-block .journal-block-content ul li {
	float: left;
	width: 280px;
	height: 100px;
	padding-right: 20px;
	margin-bottom: 40px;
}
.people-creator .journal-user {
	width: 100%;
}
.people-block .journal-user {
	float: left;
}

.people-block .journal-user .profile-picture-big, 
.people-block .journal-user .user-picture-wrapper img,
.people-block .journal-user img.user-picture-wrapper {
	float: left;
	margin-right: 15px;
}

.people-block .journal-user .user-picture-wrapper {
  display: inline;
}

.people-block .journal-user h3 {
	margin: 0;
}
.people-block .journal-user h3 a {
	font-size: 30px;
	color: #111;
	font-family: 'THSarabunNewRegular';
}
.people-block .journal-user h3 a:hover {
	text-decoration: none;
}
.people-contributor .join-date {
	color: #666666;
}

.journal-user .active-people-btn,
.journal-user .inactive-people-btn  {
	display: block;
	float: left;
	text-transform: uppercase;
	color: #FFF;
	font-size: 10px;
	line-height: 20px;
	padding: 0 10px;
	background-color: #a0dacc;
	margin-top: 10px;
}
.journal-user .inactive-people-btn {
	background-color: #c2c2c2;
}
.journal-user .active-people-btn:hover,
.journal-user .inactive-people-btn:hover {
	text-decoration: none;
}

.people-block .inactive-people img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); 
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%); 
  -o-filter: grayscale(100%);
  opacity: 0.8;
}
/* Footer
----------------------------------------------------------------*/
#footer {
	width: 100%;
	height: 84px;
	background: #FFF;
	border-top: 1px solid #ebebeb;
	color: #55b0d6;
	text-align: center;
	line-height: 84px;
	margin: 0;
	margin-top: 50px;
	float: left;
}
#footer p {
	margin: 0;
	font-family: 'THSarabunNewRegular';
	font-size: 18px;
}